<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="ServerIp" value="169.254.39.38"/>
    <add key="ServerPort" value="5004"/>
    <add key="SpurtIp" value="169.254.39.37"/>
    <add key="SpurtPort" value="4000"/>
  </appSettings>
  <connectionStrings>
      <add name="BomUI" connectionString="Data Source=./BomUI.db;Pooling=true;FailIfMissing=false;" providerName="System.Data.SQLite.SQLiteFactory"/>
  </connectionStrings>
</configuration>
